<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.archive.autodetection">class,hbm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/online_shop</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.acquire_increment">1800</property>
        <property name="hibernate.c3p0.max_statements">150</property>
    </session-factory>
</hibernate-configuration>


<!--<?xml version = "1.0" encoding = "utf-8"?>-->
<!--<!DOCTYPE hibernate-configuration SYSTEM-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->
    <!--<session-factory>-->

        <!--<property name = "hibernate.dialect">-->
            <!--org.hibernate.dialect.MySQLDialect-->
        <!--</property>-->

        <!--<property name = "hibernate.connection.driver_class">-->
            <!--com.mysql.jdbc.Driver-->
        <!--</property>-->

        <!--<property name = "hibernate.connection.url">-->
            <!--jdbc:mysql://localhost:3306/online_shop-->
        <!--</property>-->

        <!--<property name = "hibernate.connection.username">-->
            <!--root-->
        <!--</property>-->

        <!--<property name = "hibernate.connection.password">-->
            <!--root-->
        <!--</property>-->

        <!--<property name="hibernate.id.new_generator_mappings">-->
            <!--false-->
        <!--</property>-->
        <!--<mapping class="com.epam.entity.User"/>-->
        <!--<mapping class="com.epam.entity.Address"/>-->
        <!--<mapping class="com.epam.entity.Role"/>-->
        <!--<mapping class="com.epam.entity.Product"/>-->
        <!--<mapping class="com.epam.entity.ProductFeedback"/>-->
        <!--<mapping class="com.epam.entity.Order"/>-->
        <!--<mapping class="com.epam.entity.Category"/>-->

        <!--<property name="hibernate.c3p0.min_size">5</property>-->
        <!--<property name="hibernate.c3p0.max_size">20</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">2</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">1800</property>-->
        <!--<property name="hibernate.c3p0.max_statements">150</property>-->
    <!--</session-factory>-->
<!--</hibernate-configuration>-->